.HomePageDiv{
    height: 100%;
    width: 100%;
    text-align: center;
}

.displayUserData{
    display: flex;
}

.displayUserData *{
    margin: 0 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayUserData h4{
    border-style: solid;
    padding: 5px;
    border-radius: 10px;
}